# This is an example env file for the project
# real values should be tested locally in a new ".env.local" file and not committed to the repo
# and when applying to production, the values should be set in Vercel's environment variables settings

# The URL of your Supabase project
NEXT_PUBLIC_SUPABASE_URL=XXXX

# The public API key for your Supabase project
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=XXXX
